# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
     Purplik is very Warpy.
     Queen is a LION.
     If something is acting weird it's probably Alp.
     fluid.liquid_death=Liquid Death.
     we, doin some mc automation, but on discord.
     Purplik ate Lash.
     Dr. Rage is fan of Lash and Lash is a fan of Dr. Rage.
     Herobrine was removed in the latest update.
     Neat is a mod by Vazkii.
     Clay is balanced.
     Found a bug? Report it at https://github.com/superhealing/kappar/issues
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


